/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* base rule */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    /* 100% = 16px */
    /* 62.5% = 10px */
    /* 1rem = 10px */
}

h1,
h2{
    font-weight: bold;
}

h2{
    font-size: 4.5rem;
}

/* for mobile */
@media screen and (max-width: 576px) {
    h2{font-size: 3.5rem;}
}

h3{
    font-size: 2rem;
    font-weight: 600;
}

p{
    color: var(--dark-03);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

li, a{
    color: var(--dark-02);
    font-size: 1.8rem;
    font-weight: 500;
}

/* theme */

:root{
    --dark-01: #131313;
    --dark-02: #424242;
    --dark-03: #727272;
    --dark-04: #A1A1A1;
    --dark-05: #D0D0D0;
    --dark-06: #E7E7E7;
    --dark-07: #F3F3F3;
    --white: #FFFFFF;
    --bg-primary: #FFFFFF;
    --bg-secondary: #FFF4E7;
    --btn-primary: #FF900E;
}

/* layout */

.container{
    margin: 0 12.5%;
}

/* module / reusable */

.btn{
    padding: 2rem 2.5rem;
    background-color: var(--btn-primary);
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

/* state */

/***** header Section *****/ 

.section-header{
    background-color: var(--bg-secondary);
    padding: 5rem 0;
}

/***** navbar Section *****/ 

.section-header--nav{
    display: flex;
    justify-content: space-between;
}

.section-nav--menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu--items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

/***** navbar media query Section *****/ 

/* for tablet */
@media screen and (max-width: 992px) {
    /* state-for-tablet */

    .section-header--nav{
        flex-direction: column;
        align-items: center;
        gap: 3.6rem;
        padding: 2.4rem 0;
    }
    
    
}

/* for mobile */
@media screen and (max-width: 576px) {
    /* state-for-mobile */

    .section-header--nav,
    .section-nav--menu,
    .menu--items{
        flex-direction: column;
    }
    
    
}

/***** End navbar media query Section *****/

/***** End navbar Section *****/

/***** banner Section *****/ 

.section-header--banner{
    margin-top: 10.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner--content{
    width: 50%;
    text-align: center;
}

.banner-content--heading{
    font-size: 6.5rem;
}

.banner-content--details{
    margin: 1.6rem 0 3.2rem;
}

.banner-content--btn{
    margin-bottom: 5rem;
}

.banner--image img{
    width: 100%;
}

/***** banner media query Section *****/ 

/* for tablet */
@media screen and (max-width: 992px) {
    .section-header--banner{
        margin-top: 8rem;
    }

    .banner--content{
        width: 80%;
        padding: 0 1.5rem;
    }
    .banner-content--heading{
        font-size: 5.5rem;
    }
}

/* for mobile */
@media screen and (max-width: 576px) {
    .banner--content{
        width: 100%;
        padding: 0 1.5rem;
    }
    .banner-content--heading{
        font-size: 5.5rem;
    }
}

/***** End banner media query Section *****/


/***** End banner Section *****/

/***** End header Section *****/

/***** main Section *****/ 

.section-main{
    margin-top: 8.5rem;
}

/***** team Section *****/ 

.section-main--team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7.3rem;
    place-items: center;
}

.section-team--images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

.team--image img{
    width: 100%;
}

.team-content--heading span:first-of-type{
    color: var(--dark-03);
    font-weight: 500;
}

.team-content--heading span:last-of-type{
    color: var(--btn-primary);
}

.team-content--details{
    margin: 1.8rem 0 3.6rem;
}

/***** team media query Section *****/ 

/* for tablet */
@media screen and (max-width: 992px) {
    .section-main--team{
        grid-template-columns: 1fr;
    }

    .section-team--content{
        order: 1;
        text-align: center;
    }

    .section-team--images{
        order: 2;
    }
}

/* for mobile */
@media screen and (max-width: 576px) {
    .section-main--team{
        grid-template-columns: 1fr;
    }

    .section-team--content{
        order: 1;
        text-align: center;
    }

    .section-team--images{
        order: 2;
        grid-template-columns: 1fr;
    }
}

/***** End team media query Section *****/

/***** End team Section *****/

/***** features Section *****/ 

.section-main--features{
    margin: 13rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14.6rem;
}

.features-left--heading{
    margin-left: 2.4rem;
    position: relative;
}

.features-left--heading::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1.7rem;
    left: -2.1rem;
    height: 85%;
    border-left: 0.5rem solid var(--btn-primary);
}

.features-left--details{
    margin: 2.4rem 0 3rem;
}

.features-left--items{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.features-left--item{
    padding: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.features-item--heading{
    margin-bottom: 1rem;
}

.features-right--figure{
    position: relative;
}

.features-right--figure img{
    width: 100%;
}

.features-right--figure .btn{
    position: absolute;
    left: -7.2rem;
    bottom: -6rem;
}

.features-right--figure .btn span:first-of-type{
    font-size: 6.5rem;
}

.features-right--figure .btn span:last-of-type{
    font-size: 2.5rem;
    font-weight: 500;
}

/***** features media query Section *****/ 

/* for tablet */
@media screen and (max-width: 992px) {
    .section-main--features{
        grid-template-columns: 1fr;
        gap: 10rem;
        text-align: center;
    }

    .section-features--left{
        width: 80%;
        margin: 0 auto;
    }

    .features-right--figure .btn{
        left: 23%;
        bottom: -9rem;
    }
    
    .features-right--figure .btn span:first-of-type{
        font-size: 5.5rem;
    }
    
}

/* for mobile */
@media screen and (max-width: 576px){
    .section-main--features{
        grid-template-columns: 1fr;
        gap: 10rem;
    }

    .features-right--figure .btn{
        left: 2rem;
        bottom: -8rem;
    }

    .features-right--figure .btn span:first-of-type{
        font-size: 5rem;
    }
    
}

/***** End features media query Section *****/


/***** End features Section *****/


/***** End main Section *****/

